.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .cadastro-de-produto-wrapper {
  border: 1px none;
  height: 720px;
  width: 1280px;
}

.frame .cadastro-de-produto {
  background-color: #f6f5fc;
  height: 720px;
  overflow: hidden;
}

.frame .overlap {
  height: 720px;
  position: relative;
  width: 1292px;
}

.frame .group {
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1292px;
}

.frame .overlap-group {
  background-image: url(./thumb-1920-594870-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 720px;
  position: relative;
  width: 1280px;
}

.frame .text-wrapper {
  color: #222222;
  font-family: "Sora-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 445px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 147px;
}

.frame .img {
  height: 17px;
  left: 444px;
  position: absolute;
  top: 120px;
  width: 24px;
}

.frame .div {
  color: #000000;
  font-family: "Sora-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 474px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 119px;
}

.frame .div-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 446px;
  position: absolute;
  top: 201px;
  width: 389px;
}

.frame .text-wrapper-2 {
  color: #bcbcbc;
  font-family: "Sora-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .overlap-2 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 446px;
  position: absolute;
  top: 269px;
  width: 389px;
}

.frame .text-wrapper-3 {
  color: #bcbcbc;
  font-family: "Sora-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .overlap-3 {
  border-radius: 10px;
  height: 52px;
  left: 446px;
  position: absolute;
  top: 412px;
  width: 389px;
}

.frame .rectangle {
  background-color: #191919;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.frame .text-wrapper-4 {
  color: #ffffff;
  font-family: "Sora-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .overlap-4 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 446px;
  position: absolute;
  top: 340px;
  width: 389px;
}

.frame .text-wrapper-5 {
  color: #bcbcbc;
  font-family: "Sora-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .polygon {
  height: 6px;
  left: 363px;
  position: absolute;
  top: 23px;
  width: 8px;
}

.frame .rectangle-2 {
  background-color: #6fc419cc;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}
