.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .edio-de-produto-wrapper {
  border: 1px none;
  height: 720px;
  width: 1280px;
}

.frame .edio-de-produto {
  background-color: #f6f5fc;
  height: 720px;
}

.frame .overlap {
  background-image: url(./thumb-1920-594870-4.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 720px;
  position: relative;
  width: 1280px;
}

.frame .group {
  height: 344px;
  left: 445px;
  position: absolute;
  top: 119px;
  width: 402px;
}

.frame .img {
  height: 17px;
  left: -2px;
  position: absolute;
  top: 2px;
  width: 24px;
}

.frame .text-wrapper {
  color: #222222;
  font-family: "Sora-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.frame .div {
  color: #000000;
  font-family: "Sora-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .overlap-group {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 1px;
  position: absolute;
  top: 82px;
  width: 389px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: "Sora-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .element-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 1px;
  position: absolute;
  top: 150px;
  width: 389px;
}

.frame .element {
  color: #000000;
  font-family: "Sora-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .overlap-2 {
  border-radius: 4px;
  height: 52px;
  left: 1px;
  position: absolute;
  top: 292px;
  width: 389px;
}

.frame .rectangle {
  background-color: #191919;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.frame .text-wrapper-3 {
  color: #ffffff;
  font-family: "Sora-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #0000000a;
  height: 52px;
  left: 1px;
  position: absolute;
  top: 217px;
  width: 389px;
}

.frame .text-wrapper-4 {
  color: #222222;
  font-family: "Sora-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.frame .polygon {
  height: 6px;
  left: 363px;
  position: absolute;
  top: 23px;
  width: 8px;
}

.frame .rectangle-2 {
  background-color: #6fc419cc;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}
